.summary{
    background-color: rgb(174, 245, 233) ;
    padding: 20px;
}
.myInfo{
    display: flex;
}
.myInfo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.myText{
    margin-left: 10px;
    line-height: 80%;
}
.btn{
    color: white;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgb(0, 183, 255);
    margin: 5px;
}
.btn:focus {
    background-color: rgb(23, 207, 7);
}
.sumInfo{
    background-color: rgb(229, 230, 205);
    padding: 9px;
    margin: 3px;
    border-radius: 5px;
}
.myDetails{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}